# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse project files
.classpath
.project
.settings/

# Ignore IntelliJ IDEA project files
.idea/
*.iml
*.iws

# Ignore Maven target directory
target/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo

# Ignore compiled Java class files
*.class

# Ignore package files
*.jar
*.war
*.ear